{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigiDex</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
        <header class="navbar">
        <div class="titulo">
        <h1>DigiDex</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'digi:home' %}">Home</a></li>
                <li><a href="{% url 'digi:create' %}">Criar Digimon</a></li>
                <li><a href="{% url 'digi:login' %}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 DigiDex</p>
    </footer>
</body>
</html>
